<%
let array = [
   'Item 1',
   'item 2'
]
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <div class="add_list">
        <input type="text">
        <button>Add</button>
    </div>

   
        <ul class="list">
            <% array.forEach(element => { %>
                <li class="list-item"><%=element %></li>       
            <%}) %>
           
        </ul>

</body>
</html>